@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Noto Sans';
  src: url('fonts/NotoSans-Regular.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-darkestblue: #031f3b;
  --color-darkblue: #002f5f;
  --color-yellow: #e1b631;
  --color-orange: #f29d35;
  --color-darkorange: #cb7925;
  --color-darkestorange: #b75f04;

  --font-heading: 'Noto Sans', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}
